@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

nav{
    /* border: 2px solid red; */
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    background-color: #243642;
    color: #E2F1E7;
}

.nav-left{
    display: flex;
}

img{
    height: 50px;
    width: auto;
}

#product-name{
    display: flex;
    align-items: center;
    font-size: 28px;
}

.nav-right{
    display: flex;
}

a{
    color: #E2F1E7;
    text-decoration: none;
}

#user-nav{
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#user-info{ 
    display: flex;
    align-items: center;
}

#user-info:hover{
    cursor: pointer;
    border: 2px solid #E2F1E7;
}

#about{
    margin-right: 20px;
}

#username{
    margin-right: 10px;
}


li{
    list-style-type: none;
}

.nav-links{
    text-decoration: none;
    color: #243642;
    font-weight: bold;
    margin: 10px;
    background-color: #E2F1E7;
    padding: 5px 10px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 5px;
}

.nav-right .nav-links:hover {
    border-color: #E2F1E7;
}

main {
    display: flex;
    flex: 1 0 auto; /* Allow main content to expand */
    /* flex-direction: row; */
}

.left-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* height: 100%; */
    /* background-color: red; */
}

.left-content-text{
    width: 650px;
    /* border: 2px solid red; */
    padding-left: 20px;
    margin-left: 150px;
}

#content-heading{
    margin-bottom: 10px;
    font-size: 48px;
    color: #243642
}

#content-description{
    font-size: 24px;
    color: #387478
}

#interview-button{
    margin-top: 20px;
    background-color: #243642;
    color: #E2F1E7;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.right-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    /* background-color: green; */
}

#interview-image{
    width: 500px;
    height: auto;
}

footer {
    background-color: #243642;
    color: #E2F1E7;
    height: 70px;
    /* width: 100%; */
    padding: 0px 30px;
    display: flex;
    align-items: center;
    flex: 0 0 auto; /* Fixes footer to bottom */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    align-items: center;
    color: #E2F1E7;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #243642;
}

.dropbtn:hover{
    background-color: #243642;
    border: 2px solid #E2F1E7;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #c9c9c9;
    color: #e42020;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: inline-block;  
}
